html {
    overflow-y: scroll;
}
body {
    color: #666666;
    font: 400 13px/1.6 'Oxygen', sans-serif;
    word-wrap: break-word;
    background: #e6e6db;
    background: url(http://2.bp.blogspot.com/-Sycak3r3QI4/ViqGpbadDbI/AAAAAAAADRI/-a2Pc7VNAjI/s1600/bg%2B%25281%2529.jpg);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
}
.section, .widget, .widget-content, .widget ul, .widget li, body, h1, h2, h3, h4, h5, ul, li, a, p, span, img, dd {
    border: medium none;
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-decoration: none;
}
::selection {
    color: #fff;
    background: #57BDAD;
}